$Backgnd-slide: #FFFB05D5;
footer .contacts:hover a img{ animation: logo .5s ease; }
@keyframes logo {
    from { transform: rotate3d(0,0,0,0); }
    to { transform: rotate3d(0,1,0,360deg); }
}
.container-foot {
    background-image: url('../Recursos/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    margin: auto;
    font-family: "Recursive", sans-serif;
}
footer .design-by p { text-align: right; }
.design-by a { color: $Backgnd-page; }
.design-by a:hover { text-decoration: underline; }